name: Lint

on:
  push:
    branches: ["dev-py"]
  pull_request:
    branches: ["dev-py"]

jobs:
  lint:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run linters
        run: |
          black --check .
          isort --check-only .
          mypy cerebrus
