name: UnitTests

on:
  push:
    branches:
      - main
      - develop
  pull_request:

permissions:
  contents: read

jobs:
  unit-tests:
    name: Smoke Build
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build Debug
        run: msbuild CerebrusImGuiApp.sln /p:Configuration=Debug /p:Platform=x64
